.bodyWrapper{
  margin: 10px;
}

.headerWrapper {
  // background-color: orange;
}

.optionsWrapper{
  height: 500px;
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 20px;
}

.imageOptionContainer {
  // transform: scale(1.2);
  padding: 5px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 150ms all;
  &:hover{
    background-color: black;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.389);
    border: 1px solid #3B7BD5;
    z-index: 999999999;
  }
}